__pycache__
.DS_Store
build
dist
htmlcov
QuestionAnswerLog.csv
.coverage
.coverage.*
.pypirc
.pypirc.*
.log
.mypy_cache
.pytest_cache
.venv
.vscode
*.egg-info
*.log
*.pyc
*/secrets/*
*/temp
*/build
*/videos